.center {
    margin: auto;
    width: 45%;
    border: 3px solid  #FF9900;
    padding: 10px;
  }

.center-page {
    text-align: center;
}

h1,
span,
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}

body {
    font-family: 'Lato';
}

.buttons-home {
    border: solid 0px #e6b215;
    border-radius: 8px;
    font-size: 22px;
    color: #ffffff;
    width: 500px;
    padding: 30px 30px;
    background-color: #FF9900;
    cursor: pointer;
}

.buttons {
    border: solid 0px #e6b215;
    border-radius: 8px;
    moz-border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 18px;
    background-color: #FF9900;
    cursor: pointer;
}

.buttons:hover {
    background-color: #ffc477;
}